.main {
    min-height: 100vh;
    margin: 25px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;
}

.addTodoTitle {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.todosTitle {
    font-weight: 400;
}


.addTodoWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.addTodoBtn {
    background-color: red;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15px;
}

.addTodoInput {
    padding: 5px 10px;
    border: 1px solid #ddd;
    min-width: 250px;
    border-radius: 5px;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.todosWrapper {
    border: 1px solid #ddd;
    border-radius: 2px;
}

.removeBtn {
    background-color: red;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    letter-spacing: 1px;
}


